@import "bourbon/bourbon";
@import "neat/neat";

.hidden{
  display: none;
}

html{
  margin:0;
  background-color: lightgrey;
}

body{
  margin: 0;

  header{
      border-bottom: 10px purple solid;
      padding-bottom: 0;
      #navbar{
        margin-left: 0;
        margin-right: 0;
        background-color: #05006b;
        color: pink;

        ul{
          display: inline-block;
          padding-right: 1%;
          font-size: 22px;
        }

        a{
          text-decoration: none;
          color: pink;
        }

        a:visited{
          color: pink;
        }

        a:hover{
          color: yellow;
          text-decoration: none;
        }
      }

      #upper{
        padding-top: 2%;
        @include outer-container(1);

        img{
          @include span-columns(3);
          margin-left: 10px;
          width: 16vw;
          border-radius: 10px;
          margin-left: 10px;
          }

        h1{
          @include span-columns(9);
          font-size: 6vw;
          text-align: center;
        }
      }
    }

  .page-view{
    margin: 5%;
  }

  //Main view setup
  #mainpage, #savedpage{
    h2{
      font-size: 4vw;
      text-align: center;
      text-transform: uppercase;
    }

    #scrollboxdisplay{
      display: flex;
      flex-wrap: wrap;
      height: 475px;
      margin: 0% 5%;
      justify-content: space-around;
      overflow: auto;
    }

    .newsStoryRepeat{
        width: 100%;
        border: 2px solid;
        border-radius: 5px;
        margin-bottom: 1%;
        margin-right: 1%;
        margin-left: 1%;
        padding-left: 1%;
        padding-bottom: 1%;
        padding-right: 1%;
        a{
          text-decoration: none;
        }

        .articleTitle{
          display:block;
          text-transform: uppercase;
          color: #0477b8;
        }
        .interestDisplayed{
          color: #ac5d00;
          font-size: 20px;
          position:relative;
          float: right;
          padding-left: 1%;
        }
        .published{
          color: #270266;
          font-size: 15px;
          display: inline-block;
          margin-top: 0;
        }
        .clickSave{
          background-color: blue;
          color: pink;
          font-size: 15px;
          display: inline-block;
          position: relative;
          float: right;
          border-radius: 10px;
        }
    }
  }
  #interestpage{
    h2{
      font-size: 4vw;
      text-align: center;
      text-transform: uppercase;
    }
    input{
      color: #270266;
      font-size: 20px;
      border-radius: 8px;
    }
  }
}
