<div class="page-view" id="interestpage">

    <h2>Search Your Interests</h2>
    <input type="text" ng-model="interest" autofocus="true" id="input" />
    <button type="button" ng-click="addNewInterest()" id="submit">Submit</button>
    <!-- <a href="#/interest"> -->
    <ul ng-repeat="interests in myInterests" id="interestList">
        <li class="savedInputs"> <span id="interest-value"> {{ interests }} </span> <button type="button" ng-click="removeThisInterest(interests)" id="remove" >Remove</button> </li>

    </ul>
    <!-- </a> -->
</div>
