<div class="page-view">

    <h2>Breaking News Now:</h2>
        <div ng-repeat="newsNow in breakingNews">
        <a ng-click="current(newsNow)" href="{{ newsNow.link }}">
          <!-- <img -->
          <h3 class="articleTitle"> {{ newsNow.title }} </h3>
        </a>
          <p class="publisher">{{ newsNow.published }}</p>
          <p class="articleDescription">{{ newsNow.description }}</p>
          <button ng-click="clickSave(newsNow)" class="clickSave" >Save</button>
        </div>
</div>
